<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Post List</title>
</head>
<body>

	<div align="center">
		<h3>커뮤니티 게시글 리스트</h3>
		<table border="1">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			<tr th:each="postDTO : ${postList}">
				<td th:text="${postDTOStat.count}"></td>
				<td><a th:href="@{/post/postDetail(postId=${postDTO.postId})}" th:text="${postDTO.subject}"></a></td>
				<td th:text="${postDTO.writer}"></td>
				<td th:text="${#dates.format(postDTO.enrollAt, 'yyyy-MM-dd')}"></td>
				<td th:text="${postDTO.readCnt}"></td>
			</tr>
			<tr>
				<td colspan="5" align="right">
					<input type="button" value="글쓰기" th:onclick="|location.href='@{/post/createPost}'|">
				</td>
			</tr>
		</table>
	</div>

</body>
</html>